

.Kurspanel {
  display: flex;
  width: 776px;
  margin: 1px 0 0 78px;
  &__rektangel{
    width: 20px;
    height: 4px;
    background-color: #ccdee6;
  }
  &__dato{
    justify-content: flex-start;
  }
  &__hovedInnhold{
    width: 553px;
    margin-left: 5rem;
    justify-content: center;
  }
}
