@import './variables.less';

body {
    margin: 0;
    font-family: @font-family;
    background-color: @navLysGra;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.overskrift {
    margin-bottom: 3rem;
}

.sentrertTekst {
    text-align: center;
}
