@import '../../styles/variables.less';

.omKurset {
    &__panel {
        margin-top: 1rem;
        padding-bottom: 2.5rem;
    }

    &__knapp.omKurset__knapp {
        margin-top: 2rem;
    }

    &__tilbakelenke {
        margin-top: 1rem;
        margin-left: -0.3rem;

        .lenke {
            display: flex;
            align-items: center;
        }

        .chevronboks {
            margin-right: 0.5rem;
            transform: translateY(1px) rotate(270deg);
        }
    }
    &__melding {
        margin-top: 2rem;
    }
    &__info {
        margin-top: 1.5rem; /* Juster verdien etter behov */
    }
    &__beskrivelse {
        font-size: 1.125rem;
        line-height: 1.5;

        p {
            font-size: inherit;
            margin: 0 0 1rem 0;
        }

        * {
            font-size: inherit !important;
        }
    }

    @media (min-width: @screen-md-min) {
        width: 48.5rem;

        &__panel {
            margin: 0 1rem 0.5rem;
            padding: 2.75rem 2rem 2.75rem 2rem;
        }
        &__overskrift {
            margin-bottom: 2rem;
        }
        &__tilbakelenke {
            margin-top: 2.5rem;
        }
    }
}
