@import '../../styles/variables.less';

.omKurset {

    &__panel {
        margin-top: 1rem;
        padding-bottom: 2.5rem;
    }

        .knapp--hoved {
            margin-top: 2rem;
            text-decoration: none;
            background-color: @navBla;
            color: #fff;
        }

    &__tilbakelenke {
        margin-top: 1rem;
        margin-left: -0.3rem;

        .lenke {
            display: flex;
            align-items: center;
        }

        .chevronboks {
            margin-right: 0.5rem;
            transform: translateY(1px) rotate(270deg);
        }
    }

        @media (min-width: @screen-md-min) {
            width: 48.5rem;

            &__panel {
                margin: 0 1rem 0.5rem;
                padding: 2.75rem 2rem 2.75rem 2rem;
            }
            &__overskrift{
                margin-bottom: 2rem;
            }
            &__tilbakelenke {
                margin-top: 2.5rem;
            }
        }

}
