.filterboks {
    margin-bottom: 0.5rem;

    &__skeletonItem {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__skeletonCheckbox {
        margin-right: 0.5rem;
    }
}
