.filterboks {
    margin-bottom: 0.5rem;

    .navds-accordion__header.navds-accordion__header {
        background-color: transparent;
    }

    &__checkboxes--indent.filterboks__checkboxes--indent {
        margin-left: 2rem;
    }

    .skjemaelement {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 1rem;
        }
    }
}
