@import '../styles/variables.less';

.detaljside {
    &__innhold {
        margin-bottom: 2rem;
    }

    &__overskrift {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    &__kurstittel {
        display: inline-block;
        text-align: center;
        padding: 0 1rem;
    }

    @media (min-width: @screen-md-min) {
        &__innhold {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}
