@import '../styles/variables.less';

.detaljside {

    &__innhold {
        margin-bottom: 2rem;
    }

    .knapp--hoved {
        margin-top: 2rem;
        text-decoration: none;

        &:visited:not(:hover):not(:focus) {
            color: @navBla;
        }
    }
    &__metainfoKolonne{
        margin: 1rem 1rem 1rem 1rem;
    }
    &__beskrivelseKolonne{

    }
    &__metainfoKolonne {
        display: flex;
        flex-direction: column;

        &__egenskapTop {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;
        }

        &__infoTekst {
            display: flex;
            flex-direction: row;
            margin-left: 1rem;
            font-weight: 400;
        }

        &__pamelding {
            margin-bottom: 1rem;
        }

        &__ikon {
            height: 20px;
            width: 20px;
        }
    }

    &__beskrivelseKolonne {
        margin-top: 1rem;
        padding-bottom: 2.5rem;

        &__tilbakelenke {
            margin-top: 1rem;
            margin-left: -0.3rem;
        }
        &__beskrivelsePanel {
            margin: 0 1rem 0.5rem;
        }
    }

    @media (min-width: @screen-md-min) {
        &__innhold {
            display: flex;
            flex-direction: row-reverse;
        }
        &__metainfoKolonne{
            margin: 0 1rem 1rem 1rem;
            min-width: 16rem;
        }
        &__metainfoPanel {
            margin: 0 1rem 1rem 1rem;
            width: 18rem;

        }
        &__beskrivelseKolonne{
            margin-top: 0;
            width: 48.5rem;
        }

    }
}
