@import '../../styles/variables';

.metainfo {
    &__panel.metainfo__panel { // override design system
        display: flex;
        flex-direction: column;

    }
        &__egenskapTop {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;
        }

        &__infoTekst.metainfo__infoTekst.metainfo__infoTekst { // override designsystem
            display: flex;
            flex-direction: row;
            margin-left: 1rem;
            font-weight: 400;
        }

        &__pamelding {
            margin-bottom: 1rem;
        }

        &__ikon {
            height: 20px;
            width: 20px;
        }

    &__skeleton {
        &__rad {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            span:first-child {
                margin-right: 0.5rem;
            }
        }
    }

    @media (min-width: @screen-md-min) {
      width: 20rem;
      margin: 0 1rem 1rem 1rem;
        &__panel.metainfo__panel { // override design system
            padding: 2.5rem 1.5rem 0.75rem 1.5rem;
        }
        &__egenskapTop {
              margin-bottom: 0;
        }

        &__infoTekst.metainfo__infoTekst.metainfo__infoTekst { // override designsystem
            margin-bottom: 2rem;
        }

        &__pamelding {
            margin-bottom: 2rem;
        }

    }
}
