@import '../../styles/variables';

.metainfo {
    display: flex;
    flex-direction: column;

    &__egenskapTop {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    &__infoTekst {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        font-weight: 400;
    }

    &__pamelding {
        margin-bottom: 1rem;
    }

    &__ikon {
        height: 20px;
        width: 20px;
    }

    @media (min-width: @screen-md-min) {
        margin-left: 1rem;
    }
}
