@import '~nav-frontend-core/less/_variabler';
body{
  background-color: @navLysGra;
}

.bakgrunnsside {
  display: flex;
  flex-direction: column;
  background-color: @navLysGra;
  align-items: center;
  align-self: center;
  width: 100%;
  padding-top: 2.5rem;
  }
.overskrift{
  margin-bottom: 3rem;
}
.sentrert__tekst{
  text-align: center;
}