@import '../styles/variables.less';

.kursliste {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__hovedside {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    &__kursKolonne {
        display: grid;

        &__inner {
            grid-column: 1;
            grid-row: 1;
        }
    }

    &__filterKolonne {
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem 1rem 1rem;
    }

    @media (min-width: @screen-md-min) {
        &__hovedside {
            display: flex;
            flex-direction: row-reverse;
            width: unset;
        }

        &__kursKolonne {
            width: 48.5rem;
        }

        &__filterKolonne {
            display: flex;
            flex-direction: column;
            margin: 0 1rem 1rem 1rem;
            min-width: 20rem;
        }
    }
}
