@import '~nav-frontend-core/less/_variabler';

.hovedside{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.kursKolonne{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filterKolonne{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 1rem 1rem 1rem;
}

@media (min-width: @screen-md-min) {
  .hovedside{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
